


body{
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
}

main{

    display: grid;
    grid-template-columns: 30% 70%;
    height: 100vh;
    overflow-y: scroll;
    

}

nav{

    color: white;
    width: 100%;
    background-color: #383737;
    height: 100%;
    word-wrap: break-word;
    padding-bottom: 30px;
    
    
    
}

section{

    width: 100%;
    height: 100%;
   
    word-wrap: break-word;
    padding-bottom: 30px;
    
    

}


nav .cargo{

    font-size: 100%;
    padding-left: 20px;
    padding-right: 20px;

}

nav img{

    width: 90%;
    display: block;
    margin: 0 auto;
    border-radius: 15px; /* Para redondear las esquinas si lo deseas */
    height: auto; /* Mantiene la proporción original de la imagen */
    

}

.titulo{

    background-color: #232222;
    

}

nav div .informacion{



    margin-top: -5%;
    margin-bottom: 5%;

}

nav div .perfil{

    font-weight: bold;
}

p{

    word-wrap: break-word;
    padding-left: 20px;
    padding-right: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nombre{

    padding-left: 20px;
    padding-right: 20px;
}


.perfilp{

    padding-left: 20px;
    padding-right: 20px;
}

hr{

    padding-left: 20px;
    padding-right: 20px;
}

.seccion{
    display: grid;
    grid-template-columns: 30% 70%;

}

.seccion .fechas{


     
    color: #333; 
    border-left: 2px solid #ccc; 
    
      
}

.referencias{
    display: grid;
    grid-template-columns: 50% 50%;

}

.referencias .fechas{

    color: #333; 
    border-left: 2px solid #ccc; 
    
}

h1{
    font-family: 'Franklin Gothic Medium';
}

h2{
    font-family: 'Franklin Gothic Medium';
}

h3{
    font-family: 'Franklin Gothic Medium';
}

h4{

    padding-left: 20px;
    font-family: 'Franklin Gothic Medium';
}

h5{
    font-family: 'Franklin Gothic Medium';
}
a{
    font-style:none;
    color: white;
}

@media only screen and (max-width:600px){

    main{

        display: grid;
        grid-template-columns: 1fr;
    }

    body{

        padding-left: 0px;
        padding-right: 0px;
        width: 90%:
    }

    section{

        margin-top: 30px;
    }

    .informacion{
        padding: 10px;
    }

}

@media only screen and (min-width:1400px){
    .informacion{
        padding: 10px;
    }

    body{

        padding-left: 100px;
        padding-right: 100px;
        width: 90%:
    }

}
